{% extends "./base.html" %}

{% block centre %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Suppression de {{ data[1] }}</h3>

          <div class="confirmation-message">
            <div class="message">
              <p>
                Vous êtes sur le point de supprimer {{ data[1] }}. Êtes-vous
              </p>
              <p>sûr de vouloir continuer ?</p>
            </div>
            <div class="buttons">
              <a href="{{ url_for('produit') }}" class="btn btn-primary">Retour</a>
              <a href="{{ url_for('supprime_produit', item_id=data[0]) }}" class="btn btn-danger">Supprimer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
