{% extends "./base.html" %}

{% block centre %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header pb-0">
                            <h6>Clients</h6>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <button type="button" class="btn btn-primary"><a href="" class="text-white">Ajouter</a></button>
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nom & Prenom</th>
                                                    <th>Genre</th>
                                                    <th>Telephone</th>
                                                    <th>Adresse</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <!-- <td><img src="./images/avatar/1.jpg" class=" rounded-circle mr-3" alt=""></td> -->
                                                    <td></td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div >
                                                                <div></div>
                                                            </div>
                                                            <img src="" alt="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm btn-success" href="">modifier</a>
                                                        <a class="btn btn-sm btn-danger" class="btn btn-sm btn-danger" href="">supprimer</>

                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        <!-- Pagination Links -->
                        
                            </div>
                        </div>                        
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header pb-0">
                            <h6>Ventes</h6>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <button type="button" class="btn btn-primary"><a href="" class="text-white">vendre</a></button>
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Client</th>
                                                    <th>produit</th>
                                                    <th>Montant</th>
                                                    <th>Quantite</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <!-- <td><img src="./images/avatar/1.jpg" class=" rounded-circle mr-3" alt=""></td> -->
                                                    <td></td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div >
                                                                <div></div>
                                                            </div>
                                                            <img src="" alt="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div >
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm btn-success" href="">modifier</a>
                                                        <a class="btn btn-sm btn-danger" class="btn btn-sm btn-danger" href="">supprimer</>

                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        <!-- Pagination Links -->
                        
                            </div>
                        </div>                        
                    </div>
                </div>


            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}